<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">

      <!-- Logo Switcher -->
      <div class="logo-wrapper" style="text-align: center; margin-bottom: 1rem;">
        <img src="{{ site.baseurl }}/public/dark-mode.png" alt="Logo for Light Mode" class="logo-img logo-light" style="height: 140px;">
        <img src="{{ site.baseurl }}/public/light-mode.png" alt="Logo for Dark Mode" class="logo-img logo-dark" style="height: 140px;">
      </div>

      <!-- Site Title -->
<h1 class="sidebar-title">
  {{ site.title }}
</h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <!-- Navigation -->
<nav class="sidebar-nav">
  <a class="sidebar-nav-item{% if page.url == "/" %} active{% endif %}" href="/">Home</a>
  <a class="sidebar-nav-item{% if page.url == "/about/" %} active{% endif %}" href="/about/">About</a>
</nav>


    <p>&copy; Aya Hamza {{ site.time | date: '%Y' }}.</p>
  </div>
</div>
